h2 = review["title"]

- if authorized 
    a href="/reviews/#{review["id"]}/edit_tags" Edit tags

p.review_rating = "Rating: #{review["rating"]}"

section.review_body = review["body"]

form action="/reviews/#{review["id"]}/delete" method="post" 
    input type="submit" value="Delete review"/